PORT=your-port-number
DB_USERNAME=postgres-db-usernmae
DB_PASSWORD=your-postgres-db-password
DB_NAME=your-postgres-db-name
ACCESS_TOKEN_SECRET ="myaccesstokensecret"
REFRESH_TOKEN_SECRET ="myrefreshtokensecret"
ACCESS_TOKEN_EXPIRY ="1d"
REFRESH_TOKEN_EXPIRY ="10d"

TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_PHONE_NUMBER=your-twilio-phone-number

SMTP_USER=your-mailtrap-smtp-user
SMTP_PASS=your-mailtrap-smtp-password
SMTP_HOST=your-mailtrap-smtp-host
SMTP_PORT=your-mailtrap-smtp-port
 

OPENAI_API_KEY=sk-proj-xxxxxxxxxxxx


ELEVENLABS_KEY=sk_xxxx
ELEVENLABS_VOICE_ID=xcxccxcxcxcxcx

PINECONE_KEY=pcsk_xxxxxx

HEYGEN_API_KEY=sk_V2xxxxxxxxx
 
HEYGEN_WEBHOOK_SECRET=whsec_xxxxxx==

GOOGLE_CLIENT_ID=93dxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GXXXX-xxxxx



BASE_URL=webhook url
BACKEND_URL=http://localhost:5000